html
    head
        title= title
    body


        h1 Email validator

        form(method='POST' action='/')
            input(placeholder='example@example.example' type='text' name='email')
            button(type='submit') Check

